button {
  background-color: black;
  color: whitesmoke;
}
.highlighted {
  border: 2px solid red;
}
.complete {
  text-decoration: line-through;
}
.destroy {
  display: none;
}
/* #star {
  font-size: 64px;
  position: absolute;
} */
/* body {
  background: #223;
} */
#star,
#heart {
  font-size: 64px;
  cursor: move;
}

#star::selection,
#heart::selection {
  color: none;
  background: none;
  cursor: move;
}

#heart {
  left: 60px;
  top: 60px;
}
