button {
  background-color: black;
  color: whitesmoke;
}
.highlighted {
  border: 2px solid red;
}
.complete {
  text-decoration: line-through;
}
.destroy {
  display: none;
}
/* #star {
  font-size: 64px;
  position: absolute;
} */
/* body {
  background: #223;
} */
#star,
#heart {
  font-size: 64px;
  cursor: move;
}

#star::selection,
#heart::selection {
  color: none;
  background: none;
  cursor: move;
}

#heart {
  left: 60px;
  top: 60px;
}

#unicorn,
#unicorn1 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hwb(240 33% 7%);
  color: #ffffff90;
}

div {
  padding: 10px;
}

button {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
}
#unicornImg {
  display: none;
}
.unicorn {
  font-size: 16px;
  display: inline-block;
  /* float:left; */
}
.unicorn h1,
info {
  font: 18px sans-serif;
  color: redccapurple;
}
